body{
    margin: 0;
}

h1{
    text-align: center;
    font-size: 55px;
}

/* Macete para alinhar uma imagem no centro */
.banner{
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.margin{
    margin: 0 5%;
}

#imagem10{
    border: 1px solid red;
}

section{
    text-align: justify;
}

footer{
    font-size: 10px;
    text-align: center;
}
