body{
    margin: 0;
    background-image: url(https://st.depositphotos.com/1043285/2811/i/950/depositphotos_28118645-stock-photo-grunge-gray-background.jpg) ;
}

h1{
    text-align: center;
    font-size: 55px;
}

@media screen and (max-width: 480px){
    h1{
        color: blue;
        font-weight: bold;
        text-decoration: underline;
    }
    body{
        background-color: lightcoral; 
    }
}

/* Macete para alinhar uma imagem no centro */
.banner{
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.buttonstyle{
    background-color: pink;
    height: 50%;
    width: 28%;
}

.buttonstyle:hover{
    background: black;
    color: white;
    border: 2px solid red;
    width: 32%;
    height: 55%;
}

#img1{
    display: none;
    margin-top: 5%;
}

#img2{
    display:none;
}

#img3{
    display: none;
}

.margin{
    margin: 0 5%;
}

#imagem10{
    border: 1px solid red;
}

section{
    text-align: justify;
}

footer{
    font-size: 10px;
    text-align: center;
}
